@use 'sass:color';

$main: hsl(224 68% 13%);
$accent: hsl(151deg 49% 48%);
$accent-1: hsl(124, 50%, 79%);
$accent-2: hsl(132, 39%, 70%);
$canvas: hsl(0deg 0% 100%);

$accent-gradient: (
  start: color.change($accent-1, $alpha: 0.3),
  end: color.change($accent-2, $alpha: 0.3)
);